<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear/>
                <add value="index.html" />
            </files>
        </defaultDocument>

        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
    
        <rewrite>
            <rules>             
                <rule name="Cronos service" stopProcessing="true">
	        		<match url="^service/([_0-9a-zA-Z]+){1,1}" ignoreCase="true"/>
	        		<action type="Rewrite" url="server.js" appendQueryString="true" />
    			</rule>

                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

